<%- include('./components/header') %>
    <div class="page-index">
      <h1>Welcome</h1>
      <ul>
        <li>你的微笑-</li>
        <li>是我最美的回忆</li>
        <li>啊</li>
      </ul>
    </div>
<%- include('./components/footer') %>